.housings_section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .housings_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    background: #f7f7f7;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .housings_section {
    background: #F7F7F7;
    border-radius: 25px;
    margin-bottom: 43px;
    padding: 56px 50px 6px 50px;
  }
}

@media (min-width: 1400px) {
}